---
layout: default
home: true
---

<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in paginator.posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

{% if paginator.total_pages > 1 %}  
  	<div class="pagination">
  {% if paginator.previous_page %}  
    <a class="cusInnerPage" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>  
  {% else %}  
    <span class="cusInnerPage">&laquo; Prev</span>  
  {% endif %}  
  
  {% for page in (1..paginator.total_pages) %}  
    {% if page == paginator.page %}  
      <em class="cusInnerPage">{{ page }}</em>  
    {% elsif page == 1 %}  
      <a class="cusInnerPage" href="/">{{ page }}</a>  
    {% else %}  
      <a class="cusInnerPage" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>  
    {% endif %}  
  {% endfor %}  
  
  {% if paginator.next_page %}  
    <a class="cusInnerPage" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>  
  {% else %}  
    <span class="cusInnerPage" >Next &raquo;</span>  
  {% endif %}  
</div> 
{% endif %}